pkgbase = liphis
	pkgdesc = A high-performance, modern file manager built with C++20 and Qt6
	pkgver = 0.1.r24.gb257e4d
	pkgrel = 1
	url = https://github.com/Dhruv-krishn-a/Liphis-FileManager
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-5compat
	depends = qt6-svg
	depends = libgit2
	depends = libarchive
	depends = glib2
	depends = polkit
	optdepends = fd: Fast recursive file search
	optdepends = ripgrep: Fast content search
	optdepends = ffmpegthumbnailer: Video thumbnails
	optdepends = poppler: PDF thumbnails
	optdepends = libreoffice-fresh: Office document thumbnails
	provides = liphis
	conflicts = liphis-git
	source = liphis::git+https://github.com/Dhruv-krishn-a/Liphis-FileManager.git#branch=develop
	sha256sums = SKIP

pkgname = liphis
