[Desktop Entry]
Type=Application
Name=Liphis
Comment=Liphis file manager
Exec=liphis
Icon=liphis
Terminal=false
Categories=Utility;FileManager;
StartupNotify=true
